
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<table>

    <tr>
        <td> @Html.ActionLink("Deposite Amount", "Deposite", "Transactions") </td>
        <td> @Html.ActionLink("Withdraw Amount", "Withdraw", "Transactions") </td>
    </tr>

    <tr>
        <td> @Html.ActionLink("Balance Inquary", "BalanceInquary", "Transactions") </td>
        <td> @Html.ActionLink("Show Transactions", "ShowTransactions", "Transactions") </td>        
    </tr>

    <tr>
        <td> @Html.ActionLink("Logout", "Logout", "Home") </td>
    </tr>

</table>

